---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>

  <p>
    I'm currently a Phd student in Information Systems in New York University. 
    I earned my B.S. from Carnegie Mellon University, majoring in Information Systems, with a double major in Statistics and a minor in Science, Technology, and Society (STS), and M.S. in Information Systems in Carnegie Mellon University. 
  </p> 

  <p>
    My research interests are truly interdisciplinary, ranging from qualitative to quantitative research. 
    Early on, I worked primarily in the field of Science, Technology, and Society (STS), which blends insights from history, philosophy and social sciences. 
    As my interests have evolved, I've become more focused on quantitative research in machine learning, particularly in machine learning for social good, information systems, and understanding human dynamics in our tech-saturated world. 
    My academic interests may appear diverse at first glance, but they are united by a common thread: a deep desire to understand how society and technology have evolved to their current state, to critically examine the dynamics of our technology-driven world, and to explore ways to contribute meaningfully to its improvement.
    Right now, I like to think of myself as 75% machine learning/statistics and 25% social science/business/humanities, though you can think of these numbers as more of a distribution rather than fixed values. My ideal is to do good machine learning research inspired by qualitative insights. 
  </p>

</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="Research">

    <h4>Research Experience</h4>
    <ul class="research-list">
      <li class="research-item">
        <h5>A Sequential Model of Human Mobility Using Deep Generative Framework</h5>
        <p><strong>Institution:</strong>Carnegie Mellon University</p>
        <p><strong>Advisors:</strong>Shixiang Zhu, Beibei Li</p>
        <p><strong>Duration:</strong> April 2024-Present</p>
        <p><strong>Description:</strong> Mobility data is abundant in the modern era, with extensive research in spatial-temporal data mining leveraging this information. 
          However, few studies address the sequential nature of social interactions. Early humanities and operations research have highlighted the significance of the order in which individuals arrive at locations, revealing insights into social roles, interests, and behavioral patterns. 
          For example, a high-level executive arriving early at work might be attempting to convey diligence and commitment to employees, while a student consistently arriving first at school likely fosters different social dynamics compared to one who is perpetually late. 
          In this research, we utilize mobility data to infer, model, predict, and generate sequential interactions at shared locations using transformer-based architectures inspired by NLP models. This work explores how these sequences can uncover nuanced social behaviors and dynamics. 
        </p>
          
      </li>


      <li class="research-item">
        <h5>Analyzing the Promise of Decentralization in Free(Libre) and Open Source Software: 
          A Case Study Through Video Game Mods
        </h5>
        <p><strong>Institution:</strong>Carnegie Mellon University</p>
        <p><strong>Advisor:</strong>Jennifer McKee</p>
        <p><strong>Duration:</strong>May 2022-May 2023</p>
        <p><strong>Description:</strong> My earlier work in Science and Technology Studies (STS) examines whether classical STS frameworks, such as Social Construction of Technology (SCOT) and Actor-Network Theory (ANT), remain applicable to modern digital technologies. 
          How do contemporary methods of constructing technologies, exemplified by open-source communities, align with or challenge these established frameworks that describe the reciprocal relationship between humans and technology? 
          In this research, I conducted ethnographic interviews and employed qualitative methodologies within video game modding communities to explore these questions. 
          I argue that while the efficiency enabled by web technologies elevates SCOT to new dimensions, the structures and organization of these communities play a deterministic role in shaping how technologies are ultimately constructed.
          This research was accepted to CMU Summer Undergraduate Research Fellowship (SURF).
        </p>
          
      </li>
      
    </ul>
  
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<div class="docs-section" id="work">
  <h4>Work Experience</h4>
  <p>
    While my main focus is on academic research, I've had some hands-on experience in software development and technology consulting. For more professional descriptions, see my <a href="#resume">CV</a>.
  </p>
  
  <ul class="work-list">
    <li class="work-item">
      <h5>Software Developer + Technology Consultant</h5>
      <p><strong>Institution:</strong> Agahozo Shalom Youth Village</p>
      <p><strong>Duration:</strong> May 2023-August 2023</p>
      <p><strong>Description:</strong> Through CMU's Technology Consulting in the Global Community program, I served as a developer for a high school in Rwanda. 
        Our team created a REST-Django application for their Alumni Management System. It was a summer filled with challenges, growth, and collaboration, made even more rewarding by the amazing people I had the privilege to work with. 
        Check out the project details here: <a href="https://www.tcingc.org/single-post/implementing-an-alumni-management-system" target="_blank">AMS</a>.
      </p>
    </li>

    <li class="work-item">
      <h5>Software Development Intern</h5>
      <p><strong>Institution:</strong> Carnegie Mellon University Student Affairs IT</p>
      <p><strong>Duration:</strong> May 2022-March 2023</p>
      <p><strong>Description:</strong> Developed a console and web application to automate email list assignments for CMU campus housing using C# .NET. 
        The project could be still deployed. If you've ever received an email from CMU campus housing that didn't quite make sense—well, it might be the legacy of one of my early coding adventures.
      </p>
    </li>
  </ul>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>
  <p>Full Resume in <a href="https://ZhijieGao829.github.io/assets/cv/CV_ZhijieGao.pdf" target="_blank">PDF</a>.</p>
</div>

<div class="docs-section" id="Misc">
  <h4>Misc</h4>
  <p>Stuff you might want to waste your time reading</p>
  <p>I grew up in Beijing as a pretty typical "Haidian" kid—though I was lucky to avoid most of the toxic aspects of that culture. I owe so much to my parents' investment in my education, and I wouldn't be where I am today without them. 

    Back home, I have a cat who's equal parts adorable and (occasionally) a little too energetic. These days, though, her energy has waned out with age. Since I'm more of an indoorsy person, I don't travel much during vacations. Instead, I like to look after friends' cats—it's a win-win: they get a sitter, and I get a temporary cat to enjoy.

    I also have a passion for hosting tabletop RPGs, especially Call of Cthulhu. I've got plenty of experience as the game host and is considering expanding to other games, if I have the time.</p>
</div>

<div class="docs-section" id="template">
  <h4>Website Design</h4>
  This template is the work of Professor <a href="https://faculty.washington.edu/msaveski/index.html#prospective-students" target="_blank">Martin Saveki</a>. 
  <!--<br/>-->
  The code is available here <a href="https://github.com/msaveski/www_personal" target="_blank">GitHub repo</a>.
  Thanks for this wonderful template!
</div>  
